<h1> Your Saved Activity: </h1> <%= @exercise.exercise.activity %>
<h2> Duration </h2> <%= @exercise.duration %> hours
<h2> Calories Burned </h2> <%= @exercise.calories %> calories
<p><%= link_to 'Homepage', user_path %></p>