<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <div id="center">
    <h1 id="logo"><%= image_tag("FITNASTY-white.png", size: "400x122")%></h1>
			<div class="letter_container_1">
				<span>W</span>
			</div>
			<div class="letter_container_2">
				<span>e</span>
			</div>
			<div class="letter_container_3">
				<span>l</span>
			</div>
			<div class="letter_container_4">
				<span>c</span>
			</div>
			<div class="letter_container_5">
				<span>o</span>
			</div>
			<div class="letter_container_6">
				<span>m</span>
			</div>
			<div class="letter_container_7">
				<span>e</span>
			</div>
  		<div class="letter_container_8">
				<span>&nbsp;</span>
			</div>
  		<div class="letter_container_9">
				<span><%= link_to 'Sign In', signin_path %></span>
			</div>
  		<div class="letter_container_10">
				<span>&nbsp;</span>
			</div>
  		<div class="letter_container_11">
				<span><%= link_to 'Sign Up', signup_path  %></span>
			</div>
 		  <div class="letter_container_12">
				<span>&nbsp;</span>
			</div>
		</div>
