/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#form-enter {
  background-color:rgba(0,0,0,.6);
  color: rgba(255,255,255,0);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
    margin-top:30px;
  margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

div#new-form {
  color: #ffffff;
}

body {
    background: url("welcome2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#user-sleep {
    background: url("add_sleep_pic2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#user-food {
    background: url("add_food_pic2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#user-exercise-submit {
    background: url("exercise_submit2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#user-sleep-submit {
    background: url("waking_up2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#user-food-submit {
    background: url("food2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#user-signup {
    background: url("signup2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#signin {
    background: url("sign_in_pic2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#user-home {
    background: url("dashboard_pic2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#user-exercise {
    background: url("add_exercise_pic2.jpg") no-repeat center center fixed; 
    background-size: cover;
}


div#center {
  position: absolute;
  // left: 5%;
  // margin: 0 auto;
  height: 475px;
  text-align: center;
}

h1#logo {
  font-size: 100px;
  color: #ffffff;
  font-weight: 500;
  margin: 8x;
  margin-top: 400px;
}

div#center span {
  position: relative;
  top: -5px;
  font-size: 50px;
  color: #ffffff;
}

@-webkit-keyframes janimation {
  0% {
    -webkit-transform: rotate(0deg) scale(0) translate(0px, 0px);
    color: transparent;
  }
  95% {
    -webkit-transform: rotate(0deg) scale(1.1) translate(0px, 5px);
    color: #ffffff;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) translate(0px, 0px);
    color: #ffffff;
  }
}

div#center div {
  position: relative;
  display: inline-block;
  -webkit-animation: janimation 5s linear;
}

div#center div.letter_container_1 {
  -webkit-animation-delay: 0s;
}

div#center div.letter_container_2 {
  -webkit-animation-delay: .1s;
}

div#center div.letter_container_3 {
  -webkit-animation-delay: .2s;
}

div#center div.letter_container_4 {
  -webkit-animation-delay: .3s;
}

div#center div.letter_container_5 {
  -webkit-animation-delay: .4s;
}

div#center div.letter_container_6 {
  -webkit-animation-delay: .5s;
}

div#center div.letter_container_7 {
  -webkit-animation-delay: .6s;
}

div#center div.letter_container_8 {
  -webkit-animation-delay: .7s;
}

div#center div.letter_container_9 {
  -webkit-animation-delay: .8s;
}

div#center div.letter_container_10 {
  -webkit-animation-delay: .9s;
}

div#center div.letter_container_11 {
  -webkit-animation-delay: 1s;
}

div#center div.letter_container_12 {
  -webkit-animation-delay: 1.1s;
}

