// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .vertical {
//   display: inline-block;
//   width: 20%;
//   height: 40px;
//   -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
//   transform: rotate(-90deg);
// }
// .vertical {
//   box-shadow: inset 0px 4px 6px #ccc;
// }
// .progress-bar {
//   box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
// }

 h2 {
  text-align: center;
 }

 div.container-fluid {
  overflow-y: hidden;
  overflow-x: hidden;
 }

 div.progress {
   border: 1.5px solid #000000;
   margin: 10px;
   position: relative;
   top: 180px;
 }

#progress-chart {
  text-align: center;
  margin: 40px;
  background-color: rgba(255,255,255,.7);
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 10px;
}

.content{
  height: 550px;
  width: 1200px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: white;
-webkit-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
-moz-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
}

.stats{
  width:300px;
  height:320px;
  background-color: rgba(255,255,255,0);
  left: 20px;
  top: 15px;
  position: relative;
  line-height:40px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #000000;
  color: black;
}

.x2{
  position:absolute;
  height:370px;
  width:500px;
  left:700px;
  top:10px;
  background-color:rgba(255,255,255,.7);
  line-height:250px;
  color:black;
  border-radius: 25px;
  border: 1px solid #000000;
  color: black;
  padding-left: 20px;
}

.x3{
  position:absolute;
  height:370px;
  width:500px;
  left:650px;
  top:65px;
  background-color:rgba(255,255,255,.7);
  line-height:250px;
  border-radius: 25px;
  border: 1px solid #000000;
  color: black;
  padding-left: 20px;
}

.x4{
  position:absolute;
  height:370px;
  width:500px;
  left:450px;
  top:125px;
  background-color:rgba(255,255,255,.7);
  line-height:150px;
  border-radius: 25px;
  border: 1px solid #000000;
  color: black;
  padding-left: 20px;
}

.block{
  -webkit-animation:scaledown 1s linear;
  -moz-animation:scaledown 1s linear;
  animation:scaledown 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

.block:hover{
   z-index:100;
  -webkit-animation:scale 1s linear;
  -moz-animation:scale 1s linear;
  animation:scale 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
  background-color:rgba(255,255,255,1);
  color: black;
}

@keyframes scale{
  0%{
    transform:scale(1.0);
  }
  100%{
    transform:scale(1.1);
    -webkit-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
-moz-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
  }
}

@keyframes scaledown{
  0%{
    transform:scale(1.1);
  }
   100%{
    transform:scale(1.0);
  }
}
