// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .vertical {
//   display: inline-block;
//   width: 20%;
//   height: 40px;
//   -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
//   transform: rotate(-90deg);
// }
// .vertical {
//   box-shadow: inset 0px 4px 6px #ccc;
// }
// .progress-bar {
//   box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
// }

div#stats.col-sm-4.col-sm-offset-1 {
  text-align: center;
  background-color: rgba(255,255,255,.7);
  margin-top: 10px;
  border: 2px solid #000000;
}

div#right_tables.col-sm-5.col-sm-offset-1 {
  background-color: rgba(255,255,255,.7);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 2px solid #000000;
}

div#left_table.col-sm-4.col-sm-offset-1 {
  background-color: rgba(255,255,255,.7);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 2px solid #000000;
}

.container-fluid {
  background-image: url("garrhet-sampson-178990.jpg");
  background-size: cover;
//   -webkit-filter: blur(5px);
//   -moz-filter: blur(5px);
//   -o-filter: blur(5px);
//   -ms-filter: blur(5px);
//   filter: blur(5px);
 }

 h2 {
  text-align: center;
 }

 div.progress {
   border: 2px solid #000000;
   margin: 10px;
 }
