<body id="user-sleep-submit">

<div id="form-main">
  <div id="form-enter">
    <div id="new-form">

        <div style="text-align: center;"><p><h2>Total Slept:</p></h2> <h3><%= @sleep.duration%></h3></div>
        <div style="text-align: center;"><p><h2>Total Calories Burned while Sleeping :</h2></p> <h3><%= @sleep.calories%></h3></div>
        <div style="text-align: center;"><p><%= link_to 'Homepage', user_path %></p></div>

      </div>
    </div>
</div>

</body>